<%-  include('parts/header.ejs') %>

<%-  include('parts/navbar.ejs') %>

<div class="container text-center">
    <h3> Create Account</h3>
    <form action="/signup" method="POST">
        <input type="text" class="form-control" name="username" placeholder="UserName">
        <% let usernameError = validationErrors.find(err => err.param === 'username') %>
        <% if (usernameError) { %>
            <p class="alert alert-danger">
                <%= usernameError.msg %>
            </p>
        <% } %>
        <input type="email" class="form-control" name="email" placeholder="E-mail">
        <% let emailError = validationErrors.find(err => err.param === 'email') %>
        <% if (emailError) { %>
            <p class="alert alert-danger">
                <%= emailError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="password" placeholder="password">
        <% let passwordError = validationErrors.find(err => err.param === 'password') %>
        <% if (passwordError) { %>
            <p class="alert alert-danger">
                <%= passwordError.msg %>
            </p>
        <% } %>
        <input type="password" class="form-control" name="confirme-password" placeholder="confirme-password">
        <% let confirmeError = validationErrors.find(err => err.param === 'confirme-password') %>
        <% if (confirmeError) { %>
            <p class="alert alert-danger">
                <%= confirmeError.msg %>
            </p>
        <% } %>
        <input type="submit" value="Create Account" class="btn btn-primary">
    </form>
    <br>
    <div>
        Already have account <a href="/login"> Login</a>
    </div>
    <%if (authError) { %>
        <p class="alert alert-danger">
            <%= authError %>
        </p>
    <% } %>
</div>


<%-  include('parts/footer.ejs') %>